h1 {
    color: blue;
    text-align: center;
}

h2 {
    color: green;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
}

p {
    font-family: sans-serif;
}

ul {
    font-size: 20px;
    line-height: 30px;
}
